@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pimary-color {
  color: #3c64b1;
}

.menu {
  width: 70%;
  background-color: #dadada;
  height: 100%;
  position: fixed;
  top: 0;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.menu ul li {
  padding: 2rem;
  font-size: 2.2rem;
}

.menu-btn {
  display: none;
}

.text-color {
  color: #373f41;
}

.pimary-background {
  background-color: #3c64b1;
}

.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

html {
  font-family: "Mulish", sans-serif;
  font-size: 62.5%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}

header {
  background-color: #eff3ff;
}

footer {
  height: 10rem;
}

ul {
  list-style: none;
  font-weight: 600;
  font-size: 1.4rem;
  color: #373f41;
}

ul li {
  padding: 0 1.5rem;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  cursor: pointer;
}

.icon-dis {
  margin: auto;
  width: 3rem;
  height: 3rem;
}

.logo {
  width: 6.5rem;
  height: 3.5rem;
}

.icon {
  width: 3rem;
  height: 3rem;
}

img {
  width: 100%;
}

ul li:hover {
  color: #3c64b1;
}

.pointer {
  cursor: pointer;
}

.container {
  margin: 0 120px;
}

.mgt-10 {
  margin-top: 1rem;
}

.mgt-20 {
  margin-top: 2rem;
}

.mgt-30 {
  margin-top: 3rem;
}

.mgt-40 {
  margin-top: 4rem;
}

.mgt-60 {
  margin-top: 6rem;
}

.pd-l-40 {
  padding-left: 4rem;
}

.pd-r-60 {
  padding-right: 6rem;
}

.pd-r-90 {
  padding-right: 9rem;
}

.mgt-80 {
  margin-top: 8rem;
}

.text-center {
  text-align: center;
}

.pd-x {
  padding: 0 5rem;
}

.gap-30 {
  gap: 3rem;
}

.gap-56 {
  gap: 5.6rem;
}

.gap-80 {
  gap: 8rem;
}

.col-lg-6 {
  width: 50%;
}

.col-lg-4 {
  width: 33.33333%;
}

.col-lg-3 {
  width: 25%;
}

.font-12 {
  font-size: 1.2rem;
}

.font-14 {
  font-size: 1.4rem;
}

.font-16 {
  font-size: 1.6rem;
}

.font-18 {
  font-size: 1.8rem;
}

.font-44 {
  font-size: 4.4rem;
}

.font-30 {
  font-size: 3rem;
}

.font-700 {
  font-weight: 700;
}

.info {
  display: flex;
}

.font-400 {
  font-weight: 400;
}

.btn-start {
  margin-left: 2rem;
  border: none;
  color: white;
  padding: 1.1rem 2rem;
}

.justify-between {
  justify-content: space-between;
}

.banner {
  background: linear-gradient(
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.3)
    ),
    url("bg.png");
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-banner {
  text-align: center;
  width: 45%;
  color: #373f41;
  line-height: 5.5rem;
  padding: 15rem 0;
}

.text-banner p {
  margin-top: 3rem;
}

.sub-notes {
  color: #737b7d;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2rem;
}

.pimary-btn {
  font-size: 1.4rem;
  font-weight: 700;
  background-color: #3c64b1;
  padding: 1rem 2rem;
  color: white;
  border: none;
}

.btn-banner {
  margin-top: 4rem;
}

.btn-banner button {
  font-size: 1.4rem;
  font-weight: 700;
  padding: 1rem 2rem;
  color: #3c64b1;
  border: none;
  border: 0.1rem solid #3c64b1;
  background-color: transparent;
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.btn-banner button:hover {
  color: white;
  background-color: #3c64b1;
}

.btn-banner button:first-child {
  margin-right: 2.4rem;
}

input {
  padding: 1rem 2rem;
  font-size: 1.4rem;
  background-color: #f4f5f4;
  border: none;
  outline: none;
  font-weight: 500;
  width: 72%;
  color: #737b7d;
}

.gap-20 {
  gap: 2rem;
}

.none {
  display: none;
}

.discrip {
  display: flex;
}

.moreInfo {
  display: flex;
}

@media only screen and (max-width: 768px) {
  /* For desktop: */
  .container {
    margin: 0 1rem;
  }

  .none {
    display: block;
  }

  .nav-pc {
    display: none;
  }

  .menu-btn {
    display: block;
    font-size: 4rem;
  }

  .mgt-sm-20 {
    margin-top: 2rem;
  }

  .login {
    display: none;
  }

  .text-banner {
    text-align: center;
    width: 100%;
    color: #373f41;
    line-height: unset;
    padding: 8rem 1rem;
  }

  .discrip {
    display: block;
  }

  .info {
    display: block;
  }

  .pd-x {
    padding: unset;
  }

  .info .text-center {
    margin-bottom: 3rem;
  }

  .col-lg-6 {
    width: 100%;
  }

  .pd-l-40 {
    padding: unset;
  }
  .pd-r-60 {
    padding: unset;
  }

  .pd-r-90 {
    padding: unset;
  }

  .moreInfo {
    display: flex;
    flex-wrap: wrap;
  }

  .col-lg-3 {
    width: calc(50% - 1rem);
    margin-bottom: 1.5rem;
  }

  .gap-80 {
    gap: 1rem;
  }
}
